@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    background-color: #f4f4f4;

}

header {
    background-color: #1b83e2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #f4f4f4;
}

main {
    padding: 24px;
}

/* .logo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
} */


label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;

}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

button {
    background: #1b83e2;
    border-radius: 25px;
    height: 48px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.currency-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.currency-name {
    font-size: 14px;
    color: #777777;
}


.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/* .currency {
    color: #777777;
    font-size: 14px;
} */



.currency-value,
.currency-value-to-convert {
    color: #1b83e2;
    font-size: 20px;
    font-weight: bold;
}


/* 📱 RESPONSIVO PARA CELULAR */
@media (max-width: 600px) {
    main {
        width: 95%;
        padding: 30px 16px;
    }

    .logo {
        max-width: 150px;
    }
}